<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>XXX管理系统</title>
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/index.css">

</head>

<body>
    <div class="container">
        <!-- 引入头部公共文件 -->
        <div class="lj-head">
            <div class="left">
                <a href="./index.html" class="logo">xx后台管理系统</a>
            </div>
            <div class="right">
                <p id="name">XXXX欢迎您</p>
                <button class="btn btn-success" id="quit">退出</button>
            </div>
        </div>
        <div class="lj-main">
            <ul class="lj-menu">
                <li id='vip' > <a href="./users.html">用户管理</a></li>
                <li> <a href="./brand.html">品牌管理</a></li>
                <li> <a href="./phone.html">手机管理</a></li>
            </ul>
            <div class="lj-boyd">

                <!-- 新增品牌 -->
                <div class="formPhone">
                    <button class="btn btn-info">新增手机</button>
                </div>

                <!-- 修改框 -->
                <div id='cennter' class="cennter" style="z-index: 11;" >
                    <form action="http://localhost:3000/api/phone/change" method="POST" enctype="multipart/form-data">
                        <h1>修改</h1>
                        <label>
                            <span>手机名称：</span>
                            <input type="text" id="p1" name="phoneName" placeholder="请输入品牌名称">
                        </label>
                        <label>
                            <span>品牌名称：</span>
                            <input type="text" id="p2" name="brandName" placeholder="请输入品牌名称">
                        </label>
                        <label>
                            <span>官方价格：</span>
                            <input type="text" id="p3" name="price" placeholder="修改官方价格">
                        </label>
                        <label>
                            <span>二手回收价：</span>
                            <input type="text" id="p4" name="secondhandPrice" placeholder="修改二手回收价格">
                        </label>
                        <label>
                            <span>图&emsp;&emsp;片：</span>
                            <input type="file" name="file">
                            <input hidden type="text" name="_id" id="onbtnInfo">
                        </label>
                        <p>

                            <input type="submit" value="保存" class="btn btn-success">
                            <!-- <input type="submit" value="取消" id='miss'> -->
                            <a href="/phone.html" id='miss' class="btn btn-success">取消</a>
                        </p>
                    </form>
                </div>

                <!-- 新增产品 -->
                <div>
                    <form action="http://localhost:3000/api/phone/upload" method="POST" enctype="multipart/form-data"
                        class="update">
                        <h1>新增</h1>
                        <label>
                            <span>名称：</span>
                            <input type="text" name="phoneName" placeholder="请输入手机名称">
                        </label>
                        <label>
                            <span>品牌：</span>
                            <input type="text" name="brandName" placeholder="请输入品牌名称">
                        </label>
                        <label>
                            <span>官方指导价：</span>
                            <input type="text" name="price" placeholder="请输入官方指导价">
                        </label>
                        <label>
                            <span>二手回收价：</span>
                            <input type="text" name="secondhandPrice" placeholder="请输入二手回收价">
                        </label>
                        <label>
                            <span>图&emsp;&emsp;片：</span>
                            <input type="file" name="file">
                        </label>
                        <p>
                            <input type="submit" value="保存" id='btnInfo' class="btn btn-success">
                            <!-- <input type="submit" value="取消" id='miss'> -->
                            <a href="/phone.html" id='miss' class="btn btn-success">取消</a>

                        </p>
                    </form>
                </div>
                <!-- 表格部分 -->
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>图片</th>
                            <th>手机名称</th>
                            <th>所属品牌</th>
                            <th>官方指导价</th>
                            <th>二手回收价</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyOne">



                        <!-- <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>
                                <a href="#">删除</a>
                                <a href="#">修改</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr> -->
                    </tbody>
                </table>

                <!-- 分页 -->
                <nav>
                    <ul class="pagination">
                        <!-- <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li> -->
                    </ul>
                </nav>


            </div>
        </div>
        <div class="lj-footer">底部

        </div>
    </div>
</body>

</html>
<script src="./js/jquery.min.js"></script>
<script src="./js/template-web.js"></script>
<!-- 把数据渲染到页面上通过template（品牌列表） -->
<script id='tpl-user' type='text/html'>
    {{each list}}   
        <!-- <tr _id= {{$value._id}}> -->
        <td>{{$index+1}}</td>
        <td><img id='brandImg' src="{{$value.filieName}}" ></td>
        <td class='p1' >{{$value.phoneName}}</td>
        <td class='p2'>{{$value.brandName}}</td>
        <td class='p3' >{{$value.price}}</td>
        <td class='p4'>{{$value.secondhandPrice}}</td>
        <td>                 
            <a href="javascript:;"  class='deleteall' _id= {{$value._id}}>删除</a> 
            <a href="javascript:;"  class='queryId' _id= {{$value._id}}>修改</a>
        </td>
        </tr>
    {{/each}}
</script>
<!-- 把数据渲染到页面上通过template（用户列表分页） -->
<script id='tpl-page' type='text/html'>
    <li>
        <a href="javascript:;" data-page="<%= page  < 1? 1: page-1 %>" class="pagea"    aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li">
    <% for(var i = 0; i < totalPage; i++){ %>
        <li class='<%= page ===(i+1)?"active":" " %>' >
            <a href="javascript:;" data-page="<%= i + 1%>" class="pagea"><%= i+1 %></a>
        </li>
    <% } %>
    <li>
        <a href="javascript:;" data-page="<%= page  < totalPage ? page +1 :totalPage  %>" class="pagea" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
</script>
<!--把数据渲染到页面上通过template渲染查询到的数据集合（修改品牌信息） -->

<script src="./js/phone.js"></script>
<script src="/js/quit.js"></script>
<script src="/js/index.js"></script>